@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/gotham-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gotham Bold";
}
